#container {
  margin: 0 auto;
  width: 1000px;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

th, td {
  border: 1px solid black;
}

form {
  width: 200px;
  border: 1px solid black;
  text-align: center;
}

.button {
  border: none;
  display: inline;
}
