<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Form Test Index</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/main.css') }}">
        <script src="{{ url_for ('static', filename='js/vendor/jquery-1.12.0.min.js') }}"></script>
        <script src="{{ url_for ('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/register" method='post'>
                <h3>Please register:</h3>
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="first_name" placeholder="First Name">
                <input type="text" name="last_name" placeholder="Last Name">
                <input type="text" name="password" placeholder="Password">
                <input type="text" name="password_confirm" placeholder="Password">
                <input type="submit" name="submit" value="Register">
            </form>
            {% if users %}
            <p>Thank you for registering {{ users[1] }}. An email has been sent to {{ users[0] }}.</p>
            {% endif %}
        </div>
    </body>
</html>
