ul {
  list-style: none;
}

body {
  font-family: sans-serif;
}

#container {
  margin: 0 auto;
  width: 800px;
}

#registration {
  display: inline-block;
}

#login {
  display: inline-block;
  vertical-align: top;
}

#messages {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.success {
  color: green;
}

.error {
  color: red;
}
